<a href="https://colab.research.google.com/github/bsh128/DL23/blob/main/DL2023_DL_DLW07B_BSH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**DLW07B Self-test**
**String and Integer**
> String: A string is a sequence of characters enclosed in single or double quotes. Examples: "Hello, world!" or 'Python is great!'

> Integer:  Integers are whole numbers, positive or negative, without any decimal points. Examples: 42, -5, 0

**Exercise 1: Create a string and an integer**
> Create a variable with the name 'greeting'. Assign the string value "Hello, students!". Create a variable with the name 'year'. Assign the integer value 2023 to the variable 'year'.

In [8]:
greeting = "Hello, students!"
year = 2023

**Exercise 2: Print the string and integer**
> Print the string greeting and the integer year using the print() function.

In [9]:
print(greeting)
print(year)

Hello, students!
2023

**Exercise 3: Concatenate the string and integer**
> Use string concatenation to create a new string named message by combining the greeting string and the year integer. Make sure to add a space between them. Then, print the message.

In [10]:
message = greeting + " " + str(year)
message

'Hello, students! 2023'

**Exercise 4: Perform arithmetic operations with integers**
> Create two integers named num1 and num2 with the values 10 and 3, respectively. Perform the following arithmetic operations and print the results:

Addition: e.g., print(num1 + num2) Subtraction: Multiplication: Division: (output is floating-point result)

In [13]:
num1 = 10
num2 = 3
print (num1 + num2)
print (num1 - num2)
print (num1 * num2)
print (num1/num2)

13
7
30
3.3333333333333335

**Exercise 5: Input string and integer from user**
> Prompt the user for a string called user_string and an integer called user_number. Then, print the user_string repeated user_number times.

Hint: You'll need to use the input() function and convert the input to an integer using the int() function.

In [14]:
user_string = input ()

Mary

In [15]:
print(user_string)

Mary

In [18]:
user_number = input ("Type any numbers ")

Type any numbers 34

In [26]:
user_string = input ("Type any strings ")
user_number = input ("Type any numbers ") 
# input() is basically string type
user_number = int(user_number) 
# string to integer

user_string*user_number

Type any strings hello~~
Type any numbers 5

'hello~~hello~~hello~~hello~~hello~~'

**Exercise 6: Splitting a string**
> Given a string sentence, split it into words and store the result in a list named word_list. Then, print the list.

In [28]:
sentence = "Coding is fun and easy to learn"
word_list = sentence. split()
print(word_list)

['Coding', 'is', 'fun', 'and', 'easy', 'to', 'learn']

**Exercise 7: Converting strings to uppercase and lowercase**
> Create a string text containing the value "Coding is Exciting!". Convert the string to uppercase and store it in a variable named uppercase_text. Convert the string to lowercase and store it with a variable named lowercase_text. Finally, print both uppercase_text and lowercase_text.

In [29]:
a = "Coding is Exciting!"
uppercase_test = a.upper()
lowercase_test = a.lower()
lowercase_test

'coding is exciting!'

**Exercise 8: String indexing and slicing**
> Given a string quote, perform the following tasks:

1. Print the first character of the string.
2. Print the last character of the string.
3. Print the first 5 characters of the string.
4. Print the characters from position 5 to the end of the string.
5. Print the entire string in reverse order.

In [30]:
quote = "To be or not to be, that is the question."

In [31]:
quote[0]

'T'

In [32]:
quote[-1]

'.'

In [33]:
quote[0:5]

'To be'

In [34]:
quote[5:]

' or not to be, that is the question.'

In [37]:
reverse = quote[::-1]
print(reverse)

.noitseuq eht si taht ,eb ot ton ro eb oT